*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid blue; */
    }


body {
    background-color: gray;
    background-image: url('assets/background.png');
    background-repeat: no-repeat;
    overflow: hidden;
}
/* the main card container */

.card{
  width: 441px;
  height: 254px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 2px 5px 15px 0px #17161694;
  background-color:rgb(255, 255, 255);
  border-radius: 30px;
}

h1{
  margin-bottom: 0px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 45px;
  position: relative; top: 40px;
  color: #27a59c;
  
}

h2{
  margin-top: 0px;
  padding-top: 0px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 200;
  text-align: center;
  position: relative; 
  top: 40px;
  color: #027691;
} 

h3{
  margin-top: 0px;
  padding-top: 0px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  position: relative; 
  top: 100px;
}
/* How links are styled on page load and also after a link has been visited */
a:link, a:visited {
  color: #0b8577;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
}
/* how a link is styled when you hover over it */
a:hover {
  color: rgb(0, 151, 206);
}

/* specific styling to scale elements down for mobile */
@media only screen and (max-width: 900px) {
  .card{
    width: 390px;
    height: 220px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
  }
  
  h1{
    top: 22px;
    font-size: 37px;
  }
  
  h2{
    font-size: 23px;
    top: 20px;
  } 
  
  h3{
    font-size:17px;
    top: 60px;
  }
  }